rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /hospitals/{document=**} {
      // Allow read access to anyone
      allow read: if true;
      
      // Allow write access only if the user is authenticated and their role is 'admin'
      allow write: if request.auth != null &&
                      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // Allow read and write access only to the user themselves or admins
      allow read, write: if request.auth != null &&
                          (request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }

    match /requests/{documentId} {
      // Allow authenticated users to create a request to become admin
      allow create: if request.auth != null;
      
      // Allow admins to read and update the requests
      allow read, update: if request.auth != null &&
                            get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
