rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hospitals/{document=**} {
      // Allow read if the user is authenticated
      allow read, write: if true;
    }
  }
}
